@font-face {
  font-family: 'Spongebob';
  src: url('./assets/fonts/Some\ Time\ Later.otf');
}
@font-face {
  font-family: 'Mels';
  src: url('./assets/fonts/Mels-Regular.otf');
  font-style: normal;
}
@font-face {
  font-family: 'Mels';
  src: url('./assets/fonts/Mels-Italic.otf');
  font-style: italic;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --blue:rgb(0, 162, 255);
  --black:rgb(6, 6, 65);
  --rgb-black:6, 6, 65;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width:100vw;
  height:100vh;
  font-family: Mels;
  background-color: var(--blue);
  color:var(--black);
}

header {
  display: flex;
  justify-content: space-between;
  padding:20px;
  align-items: center; 
  background: var(--blue);
  background: linear-gradient(357deg, rgba(0,162,255,1) 0%, rgb(125, 209, 240) 100%); 
  width: min(1000px, 100%);
}

header h1 {
  font-size: 2.5rem;
  font-family: Spongebob;
  color: rgb(255, 255, 0);
  text-shadow: 3px 3px 3px var(--black);
}

.characters {
  display: flex;
  /* flex-wrap: wrap; */
  gap:20px;
  padding: 10px;
  /* border:solid 1px; */
}
.characters figure {
  text-align: center;
  font-size: .8rem;
}
.character {
  height:81px;
  transition: .2s;
  filter: drop-shadow(2px 2px rgba(var(--rgb-black), .5));
}
.character:hover {
  transform: scale(150%);
  filter: drop-shadow(1px 1px 10px white);
}

main {
  flex:auto;
  width: 100%;
  /* height: fit-content; */
  /* border:solid 10px; */
  /* overflow-x: scroll; */
  /* display: flex; */
  /* scrollbar-width: none; */
}

main img {
  /* height:auto; */
  /* border: solid red; */
  display: block;
  object-fit: contain;
}

/* body > * {
  border: solid 1px red;
} */

footer {
  width: min(1000px, 100%);
}
