@font-face {
  font-family: 'Spongebob';
  src: url('./assets/fonts/Some\ Time\ Later.otf');
}
@font-face {
  font-family: 'Mels';
  src: url('./assets/fonts/Mels-Regular.otf');
  font-style: normal;
}
@font-face {
  font-family: 'Mels';
  src: url('./assets/fonts/Mels-Italic.otf');
  font-style: italic;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --blue:rgb(0, 162, 255);
  --black:rgb(6, 6, 65);
  --white:rgb(215, 239, 255);
  --rgb-black:6, 6, 65;
  --rgb-blue:0, 162, 255;
  --rgb-white:215, 239, 255;
  --red: rgb(160, 48, 48);
  --green: rgb(69, 131, 69);
  --header-height: 200px;
  scrollbar-color: rgba(var(--rgb-blue), .5) var(--black);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width:100vw;
  height:100vh;
  font-family: Mels;
  background-color: var(--blue);
  color:var(--black);
}

header {
  display: flex;
  justify-content: space-between;
  padding:20px;
  align-items: center; 
  background: var(--blue);
  background: linear-gradient(357deg, rgba(0,162,255,1) 0%, rgb(125, 209, 240) 100%); 
  /* width: min(1000px, 100%); */
  width: 100%;
}

header h1 {
  font-size: 2.5rem;
  font-family: Spongebob;
  color: rgb(255, 255, 0);
  text-shadow: 3px 3px 3px var(--black);
}

.characters {
  display: flex;
  /* flex-wrap: wrap; */
  gap:20px;
  padding: 10px;
  /* border:solid 1px; */
}
.character {
  text-align: center;
  font-size: .8rem;
  position: relative;
}
.character[data-found="true"] img, 
.character[data-found="true"] figcaption {
  opacity: .5;
}
.character img {
  height:81px;
  transition: .2s;
  filter: drop-shadow(2px 2px rgba(var(--rgb-black), .5));
  position: relative;
}
.character img:hover {
  transform: scale(150%);
}
.character[data-found="true"]::after {
  content: 'Found!';
  position: absolute;
  top:30%;
  margin: auto;
  left: 0;
  right: 0;
  font-size: 1.1rem;
  font-weight: bold;
  text-shadow: 2px 2px var(--black);
  color: var(--white);
}

.timer {
  display: flex;
  font-family: Spongebob;
  font-size: 1.5rem;
  border: solid 1px;
  padding: 5px;
  text-align: center;
}
.timer span {
  display: inline-block;
  width:2.5ch;
}

.curtain {
  position: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/images/flower-bg.png');
  background-size: cover;
  cursor: auto;
}

.curtain button {
  padding: 20px 30px;
  display: block;
  background-color: var(--black);
  color:var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  font-size: 2rem;
  font-family: Spongebob;
  position: relative;
}

.curtain h2 {
  font-family: Spongebob;
  font-size: 3rem;
  margin: 0;
  color: yellow;
  text-shadow: 3px 3px 3px var(--black);
}
.curtain h3 {
  color: white;
  font-size: 2rem;
  margin: 10px;
  text-shadow: 2px 1px 3px var(--black);
}
.curtain .character-container {
  display: flex;
  background-color: rgba(var(--rgb-white), .3);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 5px;
  margin:10px;
  gap:20px;
  font-weight: bold;
}

.loading {
  background-image: url('./assets/images/flower-bg.png');
  background-size: cover;
  width:100vw;
  height:100vh;
  position: fixed;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading h2 {
  font-family: Spongebob;
  font-size: 3rem;
  margin: 0;
  color: yellow;
  text-shadow: 3px 3px 3px var(--black);
  animation: pulse 4s infinite;
 }

@keyframes pulse {
  0% {
    transform: scale(95%);
  }
  50% {
    transform: scale(110%);
  }
  100% {
    transform: scale(95%);
  }
}

main {
  flex:auto;
  width: 100%;
  position: relative;
  cursor: none;
}

main img {
  display: block;
  object-fit: contain;
}

.bubble {
  width:100px;
  height:100px;
  border: solid 3px rgba(var(--rgb-white), .8);
  border-radius: 50%;
  position: absolute;
  top:0;
  left:0;
  background-color: rgba(255, 255, 255, .15);
}

.bubble .shine {
  position: absolute;
  border-radius: 50%;
  transform: rotate(320deg);
  /* background-color: red; */
}

.shine:first-child {
  width:20px;
  height:40px;
  bottom:15px;
  left:20px;
  box-shadow: -10px 2px white;
}

.shine:last-child {
  width:10px;
  height:25px;
  top:15px;
  right:20px;
  box-shadow: 10px 2px white;
}

.popup-bg {
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height:100vh;
}

.popup-container {
  position:absolute;
  display: none;
}

.popup {
  border: solid 3px var(--white);
  overflow: hidden;
  border-radius: 5px;
  padding: 0;
  backdrop-filter: blur(5px);
}

.popup li {
  list-style: none;
  padding: 10px;
  background-color: rgba(var(--rgb-white), .8);
  cursor: pointer;
  transition: .2s;
  white-space: nowrap;
}

.popup li:not(:last-child) {
  border-bottom: solid 1px rgba(var(--rgb-black),.2);
}

.popup li.cancel {
  color:rgba(var(--rgb-black), .5);
  font-size:.8rem;
}

.popup li:hover, .popup li[data-active="true"] {
  background-color: var(--white);
}

.toast {
  position: fixed;
  bottom: -100px;
  padding: 10px;
  padding-right: 40px;
  border-radius: 5px;
  color: white;
  max-width: calc(30ch + 40px);
  text-align: center;
  box-shadow: 2px 2px 3px rgba(var(--rgb-black),.5);
  transition: .2s;
  white-space: pre-line;
}
.toast.show {
  bottom: 10px;
}
.toast.red {
  background-color: var(--red);
}
.toast.green {
  background-color: var(--green);
}
.toast span {
  display: block;
  position: absolute;
  top:50%;
  /* transform: translateY(-50%); */
   /* translateX(-50%); */
  right:0;
  top:0;
  opacity: .7;
  border-left:solid 1px rgba(0,0,0,.2);
  height:100%;
  width:30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  transition: .2s;
}
.toast span:hover {
  opacity: .8;
  background-color: rgba(255,255,255,.08);
}
.toast span:active {
  background-color: rgba(0,0,0,.1);
}

footer {
  width: min(1000px, 100%);
}
